*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Barra de menú*/
header{
    width: 100%;
    height: 70px;
    /* para que la navegación este sobre el contenido siempre, fijar la posición*/
    position: fixed;
    /* Posicion fija */
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.07s;
    padding: 10px 30px;
    z-index:10;
    box-shadow: 0 4px 25px -22px black;
    background-color: #1092de;
}

.navegacion{
    /* Para poner el logo a un lado y el menu al otro */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 30px auto;
}

.navegacion ul{
    list-style: none;
}

.menu > li {
    position: relative;
    display: inline-block;
    padding: 8px 12px;
}

.menu{
    height: 60px;
}
.menu > li > a{
    display: block;
    padding: 8px 12px;
    color: #FFD24C;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Open sans";
    text-decoration: none;
    transition: 0.5s;
}

.menu li a:hover {
    color: black;
    transition: all .3s;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

/* submenu */

.submenu{

    position: absolute;
    background: rgba(0, 140, 255, 0.823);
    width: 85%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    font-size: 15px;
}

.submenu li a{
    display: block;
    padding: 15px;
    color:#FFD24C;
    font-family: "Open sans";
    text-decoration: none;

}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/*PORTADA CON SLIDER*/




/* Portada */
.container-cover{
    width: 100%;
    height: 500px;
    position:relative;
    margin-top:70px;
    background-image: url(../img/portada.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*ayuda a volver ala imagen circular*/
.circular--square{
    border-radius: 200%;
}


.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(101, 97, 97, 0.585),rgba(139, 136, 136, 0.71));
    position: absolute;
    top: 0;
    left: 0;
}


.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}


.container-info-cover h1{
    font-size: 40px;
    font-weight: 500;
    color:black;
    margin-bottom: 20px;
}


.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.container-info-cover h3{
    color: #fff;
    font-size: 20;
}



/* mensaje del director contenerdor de bienvenida*/
.acerca-de{
    width: 100%;
    padding: 30px;
    margin-top: none;
    max-width: 1200px;
    margin: auto;
}


.acerca-de .left{
    width: 100%;
    display: flex;
    align-items: center;
}


.acerca-de .info{
    width: 100%;
    padding: 0px 30px;
}


.acerca-de .info h2{
    margin: 50px;
    font-size: 40x;
    color: #000000;
}


.tamaño-letra{
    display:flex;
    font-size: 25px;
    
}


/* Modifica el centrado y tamaño del titulo de Sobre Nosotros */
.Nosotros{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Modifica el tamaño y color del texto */
.info{
    display:flex;
    padding: 10px;
    color: rgb(0, 0, 0);

}


.Mensaje{
    padding-left: 40px ;
}


.Mensaje_tamaño{
    font-size: 22px;
}


.acerca-img{
    margin: 50px;
}


/*Ingresamos frondo para la Reseña Historica*/
.img_reseña{
    font-size: 12px;
    color: #fff;
    width: 100%;
    height: 500px;
    position:relative;
    margin-top:70px;
    background-image: url(../img/sepulvedaAntiguo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 120vh;
    /*Hacemos que el fondo gris este adelante de la imagen de fondo*/
    z-index: +1;
    

}


.img_reseña:before{
    content: '';
    width: 100%;
    height: 120vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(rgba(0, 0, 0, 0.977),rgb(53, 53, 53));
    opacity: 0.5;
/*hacemos que el titulo y las imagenes esten adelande del segundo forndo*/
    z-index: -1;
    
}

/*centramos el contenido reseña*/
.center{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    /*hace que la letra este frente el fondo*/
    z-index: +1;
    margin-top: 30px;
    
}

/*Muestra la direccion de las letras de reseña */
.dirección{
    margin-top: 25px;
    display:flex;
    color: #fff;
    max-width: 1000px;
    margin: auto;
}    

/*esta es la posicion de arriba o abajo de reseña */
.posicion{
    display: flex;
    margin: 5px;
    justify-content: center;
    /*para bajar la posicion de boton leer más*/
    padding-left: 8px ;
    margin-top: 50px;
}


#Letra-reseña{
    display:flex;
    font-size: 22px;
    z-index: +1;
}


.frente-fonfo{
    display: flex;
    z-index: +1;

}

.logoreseña{
    margin: auto;
    margin-top: 180px;
    

}


/*decimos que el contenido reseña no se muestre*/


/*le decimos que al hacer click se mostrara el contenido pero para 
se trabajará con javaScrip*/



/*es el boton leer Más*/
.ventana{
    display: inline-block;
    padding: 7px 0;
    width: 100px;
    border: 1px solid #07689F;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color:#07689F;
    background: #FFD24C;
    z-index: +2;
    margin-top: -200px;

}

/*este es el fondo cuando la ventana emerge*/
.modal-conteiner{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: +2;
    font-size: 18px;
}

/*este es la ventana emergente de reseña*/
.modal{
    width: 70%;
    height: 68%;
    background: linear-gradient(rgba(83, 80, 80, 0.977),rgb(136, 131, 131));
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.1;
    transform: translateY(0%);
    border-radius: 18px;
    /*overflow: hidden;*/
    z-index: +3;

}

.modal-close{
    transform: translateY(-200%);
}

/*es el opcion X en la ventana emergente*/
.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #FFD24C;
    color: #07689F;
    line-height: 25px;
    cursor: pointer;
    border-radius: 20px;

}

/*Agregamos el boton leer Más*/
.read-more-icono{
    display: flex;
    justify-content: center ;
    margin-top: 15px;
    z-index: +2;
}
/**/
.read-more-icono > a {
    width: 190px;
    height: 50px;
    background: #FFD24C;
    box-shadow: 1px 1px 30px 0px #fed96a;
    text-decoration: none;
    color: var(--colo1);
    font-size: 22px;
    text-align: center;
    transition: 0.5s ease-in-out;
    border: 1px solid var(--colo1);
    border-radius: 10px;
    padding: 12px;
 /*el borde del boton */
    border-radius: 40px;
}
/**/
.read-more-icono > a:hover{
    background-color: #07689F;
    background: var(--colo1);
    color:#FFD24C;
    border:1px solid #07689F;
    box-shadow: 1px 1px 30px 0px #07689F;

}

/* Himno Sepulvedano */

.himno_sepulveda{
    width: 100%;
    margin-top: none;
    max-width: 1200px;
    margin: auto;
}

.himno_sepulveda .left{
    width: 100%;
    display: flex;
    align-items: center;
}

.himno_sepulveda .himno{
    width: 100%;
    padding: 0px 30px;
}

.himno_sepulveda .himno h2{
    margin: 30px;
    font-size: 24px;
    color: #000000;
    margin-top: 80px;
}

.tamaño{
    margin: 40px;
    font-size: 20px;
    color: #000000;
}

.titulo_himno{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    margin-top: 0px;
}

.himno{
    display: flex;
    padding: 100px;
    color: #000000;
}

.mensaje{
    padding-left: 10px;

}
/* video del himno*/
.video{
    margin:50px;
    width: 90%;
}

/* boton */
.content-descarga{
    width: 100%;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    background: #f1f6ff;
    text-align: center;
    border: 2px solid #adcaff;
}
.descarga-ahora{
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    background: #286ef2;
    color: #fff;
    border-radius: 5px;
}
.descarga-ahora:hover{
    opacity: 0.9;
}
.btn-descarga{
    display: inline-block;
    padding: 15px 25px;
    background: #286ef2;
    color: #fff;
    border:none;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    outline: 0px;
    cursor: pointer;
}
.btn-descarga:hover{
    opacity: 0.9;
}
.content-descarga i{
    margin-left: 5px;
}

/* boton model */

button {
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

.modal-contenedor {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}

/*Ingresamos fondo para la Mison y Vision */
.img_Mision-vision{
    font-size: 12px;
    color: #fff;
    width: 100%;
    height: 500px;
    position:relative;
    margin-top:80px;
    background-image: url(../img/fondo-mision-vision.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /*fondo img tamaño*/
    height: 110vh;
    /*Hacemos que el fondo gris este adelante de la imagen de fondo*/
    z-index: +1;
    
}
.img_Mision-vision:before{
    content: '';
    width: 100%;
     /*fondo gris*/
    height: 110vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(rgb(47, 46, 46),rgba(65, 65, 68, 0.986));
    opacity: 0.5;
/*hacemos que el titulo y las imagenes esten adelande del segundo forndo*/
    z-index: -1;

    
}
/*estilo y transcision de color*/
.card {
    box-sizing: border-box;
    /*arriba, derecha, abajo, izquiera*/
    padding: 10px 10px 10px 10px;
    background-color: rgb(255, 255, 255);
    border: 20px #4231d7;
    transition: width 2s, background-color 1s, box-shadow 1s;
    border-radius: 20px;
    color: black;
  }
  
  /*creamos la carta que cambia de color al pasar el mouse*/
  .card:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFD24C;
  }
  
/*tarjeta misión*/
  .wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
    margin-top: 50px;
    margin: 46px;
    padding-right: 60px;

  }
/*tarjeta visión*/
  .wrapper2 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
    margin-top: -50px;
    margin: 2px;
    padding-left: 60px;

  }
  
  a {
    text-decoration: none;
  }
  
.name {
    font-size: 60rem;
    font-family:sans-serif;
  }


/*damos centrado y titulo valores */
.center2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-top: 24px;
}
/* Tarjeta con efecto flip */
.fondo{
    padding: 90px;
}
.contenedor_tarjeta{
    max-width: 1200px;
    /* centrar */
    margin: auto;    
    margin-top: 30px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    /* responsi */
    flex-wrap: wrap;
}   

.padre_tarjetas{
    margin: 20px;
    perspective: 1000px;
}

.padre_tarjetas:hover .caras{
    transform: rotateY(180deg);
}
.caras{
    width: 220px;
    height: 280px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.frente_tarjetas{
    background-size: cover;
    background-position: center;
}
.frente_tarjeta,
.reverso_tarjeta{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 22px;
}

.reverso_tarjeta{
    transform: rotateY(180deg);
    background: #FAFAFA;
}

/*cuerto de las tarjetas valores*/
.cuerpo_frente_tarjeta{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
    font-size: 13px;
    border: 4px solid  #FFD24C;
    border-radius: 22px;

}

 /* crea una sombra negra frente la imagen  */
 .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.277);
    border-radius: 20px;
 }

 .cuerpo_reverso_tarjeta{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
    font-size: 10px;
 }

 .cuerpo_reverso_tarjeta p{
    margin-top: 18px;
    font-size: 18px;
 }
/*Carrucel Docentes*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

 .docente__titulo{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.docente{
    margin-top: 50px;
    height:510px;
  }
  
  @media all and (max-width: 767px){
    .docente{
      height: 1550px;
    }
  }
.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: gray;
    padding: 50px 0;
}
.slide-content{
    margin: 0 40px;
}
.card{
    border-radius: 25px;
    background-color: #efefef;
}
.image-content,
.card-content{
     display: flex;   
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070f4;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #efefef;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #efefef;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}    

 /*es el tamaño del slider infraestructura*/
 .slider {
	width: 1280px;
    height: 720px;
	margin: 50px auto 0;
	overflow: hidden;
    background: linear-gradient(rgba(84, 84, 86, 0.199),rgba(84, 84, 86, 0.259));
    z-index: +3;
   
}

/*define el tamaño de todas las imagenes como en grupo */
.slider ul {
	display: flex;
	padding: 0;
    /*decimos que nuestras imagenes ocupen un 800%
    esto quiere decir que 1 imagen = 100%
    8 img = 800%*/
	width: 800%;
    animation: cambio 36s infinite alternate ease-in-out;
	
}

/*el contenido en este caso son las imagenes */
.slider li {
	width: 100%;
	list-style: none;
    z-index: -4;
}

/*decimos que las imagenes tengan un 100% en el slider*/
.slider img {
	width: 100%;
}

/*es la trancision quw se va a dar en cada imagen */
/*si queremos agregarmas imagenes incrementemos la secuencia de % */
/*si agregamos más imagenes lo devidimos en mas %*/
@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	35% {margin-left: -100%;}
	40% {margin-left: -100%;}
	
	45% {margin-left: -200%;}
	50% {margin-left: -200%;}
	
	55% {margin-left: -300%;}
	60% {margin-left: -300%;}

    65% {margin-left: -400%;}
	70% {margin-left: -400%;}

    75% {margin-left: -500%;}
	80% {margin-left: -500%;}

    85% {margin-left: -600%;}
	90% {margin-left: -600%;}

    95% {margin-left: -700%;}
	100% {margin-left: -700%;}



}

/*carrucel alumnos destacados*/
.img_destacados{
    font-size: 12px;
    color: #fff;
    width: 100%;
    height: 510px;
    position:relative;
    margin-top:80px;
    background-image: url(../img/fondo-destacados-estudiantes.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /*fondo img tamaño*/
    height: 107vh;
    /*Hacemos que el fondo gris este adelante de la imagen de fondo*/
    z-index: +1;
    
}

.img_destacados:before{
    content: '';
    width: 100%;
     /*fondo gris*/
    height: 107vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(rgba(21, 20, 20, 0.697),rgba(12, 12, 12, 0.615));
    opacity: 0.5;
/*hacemos que el titulo y las imagenes esten adelande del segundo forndo*/
    z-index: -1;

    
} 

#body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.584),rgba(19, 19, 20, 0.26));
}

.box{
    position: relative;
    height: 300px;
    width: 200px;
    transform-style: preserve-3d;
    animation: animate 22s linear infinite;
}

@keyframes animate{
    0%{
        transform: perspective(1500px) rotateY(0deg);
    }
    100%{
        transform: perspective(1500px) rotateY(360deg);

    }
}
.box div{
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--v) * 45deg)) translateZ(300px);
   -webkit-box-reflect: below 0px linear-gradient(transparent, transparent,#0004);
}


.box div img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.spin{
    animation: spin 3s linear infinite;

}

@keyframes spin{
    0%{
       /* filter: hue-rotate(0deg);*//*ayuda a poner un filtro para la imagen*/
        transform: perspective(1500px) rotateY(0deg);
        /*le da el efecto espero tipo reflejo de la imagenes*/
        -webkit-box-reflect: below 0px linear-gradient(transparent, transparent,#0004);
    }
    100%{
        transform: perspective(1500px) rotateY(360deg);
        -webkit-box-reflect: below 0px linear-gradient(transparent, transparent,#0004);

    }
}
/* CALENDARIO ACTIVIDADES*/
.calendario__titulo{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.calendario{
    margin-top: 50px;
    height:510px;
  }
  
  @media all and (max-width: 767px){
    .calendario{
      height: 1550px;
    }
  }
/* organigrama */
.organigrama__titulo{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.organigrama{
    margin-top: 50px;
    height:510px;
  }
  
  @media all and (max-width: 767px){
    .organigrama{
      height: 1550px;
    }
  }
  
  .organigrama *{
    font-family: arial, verdana, tahoma;
    font-size: 0,95em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
  }
  
  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .cf:after {
      clear: both;
  }
  
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  .cf {
      *zoom: 1;
  }
  
  .content-organigrama{
    width: 100%;
    max-width: 1142px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .organigrama a:focus{
    outline: 2px dashed #f7f7f7;
  }
  
  @media all and (max-width: 767px){
    .content-organigrama{
      padding: 0 20px;
    } 
  }
  
  .organigrama ul{
    padding: 0;
    margin: 0;
    list-style: none;   
  }
  
  .organigrama ul a{
    display: block;
    background: #fff;
    border: 4px solid #02396f;
    text-align: center;
    overflow: hidden;
    font-size: .7em;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    height: 70px;
    margin-bottom: -26px;
    box-shadow: 4px 4px 9px -4px rgba(0,0,0,0.4);
    -webkit-transition: all linear .1s;
    -moz-transition: all linear .1s;
    transition: all linear .1s;
  }
  
  .organigrama ul a:hover{
    background-color:#02396f;
    color:#fff;
  }
  
  
  @media all and (max-width: 767px){
    .organigrama ul a{
      font-size: 1em;
    }
  }
  
  
  .organigrama ul a span{
    top: 33%;
    margin-top: -0.7em;
    display: block;
  }
  
  /*
   
   */
  
  .administration > li > a{
    margin-bottom: 25px;
  }
  
  .director > li > a{
    width: 50%;
    margin: 0 auto 0px auto;
    background-color: darkgray;
  }
  
  .subdirector:after{
    content: "";
    display: block;
    width: 0;
    height: 130px;
    background: red;
    border-left: 4px solid #02396f;
    left: 45.45%;
    position: relative;
  }
  
  .subdirector,
  .departments{
    position: absolute;
    width: 100%;
  }
  
  .subdirector > li:first-child,
  .departments > li:first-child{  
    width: 14.59894921190893%;
    height: 64px;
    margin: 0 auto 92px auto;   
    padding-top: 25px;
    border-bottom: 4px solid #02396f;
    z-index: 1; 
  }
  
  .subdirector > li:first-child{
    float: right;
    right: 27.2%;
    border-left: 4px solid #02396f;
  }
  
  .departments > li:first-child{  
    float: left;
    left: 27.2%;
    border-right: 4px solid #02396f;  
  }
  
  .subdirector > li:first-child a,
  .departments > li:first-child a{
    width: 100%;
  }
  
  .subdirector > li:first-child a{  
    left: 25px;
  }
  
  @media all and (max-width: 767px){
    .subdirector > li:first-child,
    .departments > li:first-child{
      width: 40%; 
    }
  
    .subdirector > li:first-child{
      right: 10%;
      margin-right: 2px;
    }
  
    .subdirector:after{
      left: 49.8%;
    }
  
    .departments > li:first-child{
      left: 10%;
      margin-left: 2px;
    }
  }
  
  
  .departments > li:first-child a{
    right: 25px;
    background:#337ab7;
  }
  
  .department:first-child,
  .departments li:nth-child(2){
    margin-left: 0;
    clear: left;  
  }
  
  .departments:after{
    content: "";
    display: block;
    position: absolute;
    width: 81.1%;
    height: 22px; 
    border-top: 4px solid #02396f;
    border-right: 4px solid #02396f;
    border-left: 4px solid #02396f;
    margin: 0 auto;
    top: 130px;
    left: 9.1%
  }
  
  @media all and (max-width: 767px){
    .departments:after{
      border-right: none;
      left: 0;
      width: 49.8%;
    }  
  }
  
  @media all and (min-width: 768px){
    .department:first-child:before,
     .department:last-child:before{
      border:none;
    }
  }
  
  .department:before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 22px;
    border-left: 4px solid #02396f;
    z-index: 1;
    top: -22px;
    left: 50%;
    margin-left: -4px;
  }
  
  .non:before{
    border-left: none !important;
  }
  
  .department{
    border-left: 4px solid #02396f;
    width: 14.59894921190893%;
    float: left;
    margin-left: 1.751313485113835%;
    margin-bottom: 60px;
  }
  
  .lt-ie8 .department{
    width: 14.25%;
  }
  
  @media all and (max-width: 767px){
    .department{
      float: none;
      width: 100%;
      margin-left: 0;
    }
  
    .department:before{
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 60px;
      border-left: 4px solid #02396f;
      z-index: 1;
      top: -60px;
      left: 0%;
      margin-left: -4px;
    }
  
    .department:nth-child(2):before{
      display: none;
    }
  }
  
  .department > a{
    margin: 0 0 -26px -4px;
    z-index: 1;
  }
  
  .department > a:hover{  
    height: 80px;
    background-color:#02396f !important;
    color:#fff;
  }
  
  .department > ul{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .department li{ 
    padding-left: 25px;
    border-bottom: 4px solid #02396f;
    height: 80px; 
  }
  
  .department li a{
    background: #8c7777 !important;
    top: 48px;  
    position: absolute;
    z-index: 1;
    width: 90%;
    height: 60px;
    vertical-align: middle;
    right: -1px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#02396f00000',GradientType=1 );
  }
  
  .department li a:hover{
    box-shadow: 8px 8px 9px -4px rgba(0,0,0,0.1);
    height: 80px;
    width: 95%;
    top: 39px;
    background-color:#02396f !important;
    color:#fff;
  }
  
  /* Department/ section colors */
  .department.dep a{background: #337ab7;}
  /*comienza tabla*/
#main-container{
    margin: 60px auto; /*Para ajustar el tamaño para moverlo mas arriba y abajo*/
    width: 900px; /*Es el ancho de la tabla mas aumentas mas grande de hace*/
}

/* testimonios*/


.body-2{
    margin: 0;
    padding: 0;
    background: #3d3b3c8e;
    font-family: sans-serif;
}

.img_testimonio{
    font-size: 12px;
    color: #fff;
    width: 100%;
    height: 300px;
    position:relative;
    margin-top:80px;
    background-image: url(../img/paseo.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /*fondo img tamaño*/
    height: 110vh;
    /*Hacemos que el fondo gris este adelante de la imagen de fondo*/
    z-index: +1;
    
}
.img_testimonio:before{
    content: '';
    width: 100%;
     /*fondo gris*/
    height: 110vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(rgb(47, 46, 46),rgba(65, 65, 68, 0.986));
    opacity: 0.5;
/*hacemos que el titulo y las imagenes esten adelande del segundo forndo*/
    z-index: -1;

    
}

/*tarjeta testimonio centro*/
.card-3 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 360px;
    height: 400px;
    background: #000;
    z-index: +4;
    margin-top: none;

    

}
.card-3 .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card-3 .image img {
    width: 100%;
    transition: .5s;
}

.card-3:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}

.card-3 .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #ffc107;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card-3:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}

/*espacio de la animacion que sale por la izquierda*/
.card-3 .details .center-3 {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card-3 .details .center-3 h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.card-3 .details .center-3 h1 span {
    font-size: 14px;
    color: #262626;
}
.card-3 .details .center-3 p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
    font-size: 15px;
}
.card-3 .details .center-3 ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}
.card-3 .details .center-3 ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.card-3 .details .center-3 ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.card-3 .details .center-3 ul li a:hover {
    background: #ff3636;
}

/* tarjeta testimonios derecha*/
.card-4 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    /*la posicion de la tarjeta el ancho y alto*/
    transform: translate(-50%,-50%);
    width: 360px;
    height: 400px;
    background: #000;
    z-index: +5;
    margin-top: 524rem;
    margin-left: 400px;
    

}
.card-4 .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card-4 .image img {
    width: 100%;
    transition: .5s;
}

.card-4:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}

.card-4 .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #ffc107;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card-4:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}

/*espacio de la animacion que sale por la izquierda*/
.card-4 .details .center-3 {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card-4 .details .center-3 h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.card-4 .details .center-3 h1 span {
    font-size: 14px;
    color: #262626;
}
.card-4 .details .center-3 p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
    font-size: 15px;
}
.card-4 .details .center-3 ul {
    margin: 10px auto 0;
    padding: 0;
    display: flex;
}
.card-4 .details .center-3 ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.card-4 .details .center-3 ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.card-4 .details .center-3 ul li a:hover {
    background: #ff3636;
}

/*tarjeta tertimonio izquierda*/
.card-5 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-160%,-50%);
    width: 360px;
    height: 400px;
    background: #000;
    z-index: 4;
    margin-top: 524rem;
    

}
.card-5 .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card-5 .image img {
    width: 100%;
    transition: .5s;
}

.card-5:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}

.card-5 .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #ffc107;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card-5:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}

/*espacio de la animacion que sale por la izquierda*/
.card-5 .details .center-3 {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card-5 .details .center-3 h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.card-5 .details .center-3 h1 span {
    font-size: 14px;
    color: #262626;
}
.card-5 .details .center-3 p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
    font-size: 15px;
}
.card-5 .details .center-3 ul {
    margin: 10px auto 0;
    padding: 0;
    display: flex;
}
.card-5 .details .center-3 ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.card-5 .details .center-3 ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.card-5 .details .center-3 ul li a:hover {
    background: #ff3636;
}
 

/* ubicación */

.acerca_ubicacion{
    width: 100%;
    padding: 30px;
    margin-top: none;
    max-width: 1200px;
    margin: auto;
}


.acerca_ubicacion .left{
    width: 100%;
    display: flex;
    align-items: center;
}


.acerca_ubicacion .posicion_ubi{
    width: 100%;
    padding: 0px 30px;
}


.acerca_ubicacion .posicion h1{
    margin: 50px;
    font-size: 40x;
    color: #000000;
}
.ubicacion{
    margin-top: 30px;
}

.posicion_ubi{
    margin-top: 50px;
}
/* Modifica el centrado y tamaño del titulo ubicación */
.Center2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Modifica el tamaño y color del texto */
.posicion_ubi{
    display:flex;
    padding: 10px;
    color: rgb(0, 0, 0);

}

.contactanos{
    padding-left: 40px ;
}



 /*damos centrado y titulo convenios*/
.center2{
    display: flex;
    justify-content: center;
    font-size: 26px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    /*hace que la letra este frente el fondo*/
    z-index: +1;
}

.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
.contactanos{
    margin-right: 300px;
    margin-top: 50px;
}

 /*comenzamos hacer el carrusel infinito de logos*/
 .cont-princ-slider {
    margin: 50px;
    height: 100px;
    overflow: hidden;
    width: 100%;
  
  }
  
  .slier-prin {
    display: inline-flex;
    -moz-animation: slider 8s infinite linear;
    -webkit-animation: slider 10s infinite linear;
    animation: slider 10s infinite linear;
    height: 100%;
    width: auto;
  }
  
  /*este es el carrucel infinito define aspecto*/
  /*tamaño de logos 330px*/
  .juegos_DWG {

    background:  #ffffff;
    border: 1px solid #ffffff;
    line-height: 100px;
    height: 100%;
    flex: 0 0 auto;
    text-align: center;
    width: 350px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  @keyframes slider {
    to {
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }


/*footer*/
footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../img/background-footer.svg);
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__footer p{
    max-width: 250px;
    margin-top: 10px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
